
/*------------------------------------------
HEADER
------------------------------------------*/
.header-container {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-bar {
    background-color: #00FF7B !important;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 30px !important;
    color: #00FF7B !important;
}

.nav-link {
    color: #00FF7B !important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline !important;
}

.header-container.scrolled {
    background-color: #212121;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
}

.header-container.scrolled .navbar-brand,
.header-container.scrolled .navbar-nav a {
    color: #00FF7B !important;
}


/*------------------------------------------
BODY
------------------------------------------*/
.home-banner-container-fluid {
    background-color: #212121;
    /* background-image: linear-gradient(#284b63, #3c6e79); */
    transition: background-image 0.5s ease;
}

/* .home-banner-container-fluid.hovered {
    background-image: linear-gradient(#3c6e79, #284b63);
} */

.home-banner-container {
    height: 80vh;
}

.banner-text-left {
    border-bottom: 2px solid #00FF7B;
}

.banner-text-left .text {
    width: 20rem;
    font-size: 18px;
    padding-bottom: 1rem;
}

.banner-photo {
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
}

.rotating-border {
    position: absolute;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    border: 1.5rem dashed #424242;
    z-index: 1;
}

/* .banner-photo:hover .rotating-border {
    animation: rotateBorder 4s linear infinite;
} */

.static-image {
    border-radius: 50%;
    width: 90% !important;
    height: 90% !important;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.banner-name-container {
    border-bottom: 2px solid #00FF7B;
    margin-bottom: 150px;
}

.banner-name-text {
    font-family: "PT Sans", sans-serif !important;
    font-weight: 800;
    font-size: 60px !important;
    text-align: right;
}

.home-banner-end-container-fluid {
    background-color: #424242;
    height: 20vh;
}

.home-banner-end-container-fluid h1{
    text-align: center;
}

.home-banner-end-container-fluid .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one.container-fluid {
    background-color: #212121;
}

.section-one .container{
    padding: 10rem 0;
}

.section-one .col div {
    width: 80%;
}

.section-three h1
.section-one p {
    color: #494949;
}

.section-one h1,
.section-three h1,
.section-two h1 {
    margin-bottom: 1.5rem;
    font-family: 'PT-sans', sans-serif !important;
}

.section-two-beta {
    background-color: #424242;
}

.section-two-beta .col-md-4,
.section-two-beta .website-container {
    padding: 1rem;
}

.section-two-beta .website-container {
    background-color: #212121;
    border-radius: 10px;
}

.section-two-beta .logo img{
    width: 100%;
    border-bottom: 1px solid #00FF7B;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-radius: 15px;
}

.section-two-beta h5 {
    color: #ffffff;
    font-weight: 900 !important;
}

.section-two-beta a {
    color: #00FF7B;
}

.section-two-beta p {
    color: #ffffff;
}

.section-two-beta .btn-neon {
    color: #00FF7B;
    padding-left: 0;
}

.section-two-beta .btn-neon:hover {
    color: #ffffff;
}

.section-two-beta .clamp-text {
  overflow: hidden;
  transition: max-height 1s ease, opacity 1s ease;
  max-height: 5.4em; /* approx. 3 lines * line-height */
  opacity: 1;
}

.section-two-beta .clamp-text.expanded {
  max-height: 1000px; /* large enough to reveal full content */
  opacity: 1;
}

.section-two-beta .website-description {
  line-height: 1.8em;
}

.section-three {
    background-color: #212121;
}

.section-three .testimonial-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 3rem;
    border-radius: 1rem;
    background-color: #494949;
}

.section-three p {
    font-style: italic;
    text-align: center;
    line-height: 28px;
    color: #ffffff;
}

.section-three small {
    color: #e1e1e1;
}

.section-three hr {
    color: #00FF7B;
}

.overlay-title {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: #00FF7B;
    padding: 0.5rem 2rem;
    color: #212121;
}

.tools-container {
    /* background-color: #E0E0E0; */
    background-color: #424242;
    border-radius: 10px;
}

.tools-container small {
    color: #ffffff;
}

.tools-image-container {
    text-align: center;
    padding-bottom: 1rem;
}

.tools-image {
    width: 50px;
    display: block;
    margin: 0 auto;
}


/*------------------------------------------
FOOTER
------------------------------------------*/
.footer {
    background-color: #424242;
    padding: 3rem;
    color: #fff;
}

.footer h1 {
    color: #00FF7B;
    font-family: 'PT-sans', sans-serif !important;
}

.footer .contact-title {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.footer .contact-info a{
    color: #fff !important;
    text-decoration: none !important;
    font-style: italic;
    font-size: 20px;
}

.footer .border-right {
    border-right: 1px solid white;
}

.footer .btn-neon {
    background-color: #00FF7B;
}

.footer .btn-neon:hover {
    border: 1px solid #00FF7B;
}

.footer-contact-con {
    border-radius: 1rem;
    background: #212121;
    padding: 1rem;
}

.footer .other-profile-link-logo {
    width: 12.5%;
}

.verified-badge {
  background-color: #1DA1F2; /* Twitter Blue */
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;   /* Bigger circle */
  height: 1.2em;
  border-radius: 50%;
  font-size: 0.75em; /* Smaller check */
  font-weight: bold;
  line-height: 1;
}
