@media (min-width: 320px) and (max-width: 767px) {
    .d-sm-none {
        display: none;
    }

    .banner-photo {
        margin: 5rem auto 0;
    }

    .banner-name-container {
        border-bottom: none !important;
    }

    .banner-name-text {
        text-align: center;
        margin: 2rem auto 1rem !important;
    }
    
    .home-banner-container {
        height: auto;
    }



    .home-banner-end-container-fluid {
        padding: 2rem !important;
        height: auto;
    }

    .home-banner-end-container-fluid h1 {
        font-size: 20px !important;
    }

    .d-sm-block .text {
        text-align: center !important; 
        margin-bottom: 5rem;
    }

    .section-one .col:first-child {
        margin-bottom: 3rem;
    }

    .section-one .col div {
        width: 100%;
    }

    .section-one .container {
        padding: 5rem 0;
    }

    .section-one .col-md-6 {
        margin-bottom: 3rem;
    }

    .section-two .logo-name {
        text-align: center;
    }

    .section-two .container .py-5 {
        padding-top: 5rem !important;
    }

    .section-three h3 {
        font-size: 16px !important;
    }

    .footer .ms-5 {
        margin-left: 0 !important;
    }

    .footer .border-right {
        border-right: 0;
        border-bottom: 1px solid white;
        margin-bottom: 3rem !important;
    }

    .footer button {
        width: 100%;
    }
}