@media (min-width: 320px) and (max-width: 767px) {
    .d-sm-none {
        display: none;
    }

    .banner-photo {
        margin: 10rem auto 0;
    }

    .banner-name-container {
        border-bottom: none !important;
    }

    .banner-name-text {
        text-align: center;
    }

    .d-sm-block .text {
        text-align: center !important; 
        margin-bottom: 5rem;
    }

    .section-one .container {
        margin: 5rem auto;
    }

    .section-one .col:first-child {
        margin-bottom: 3rem;
    }

    .section-two .logo-name {
        text-align: center;
    }

    .section-two .container .py-5 {
        padding-top: 5rem !important;
    }

    .section-three h3 {
        font-size: 16px !important;
    }

    .footer .ms-5 {
        margin-left: 0 !important;
    }

    .footer .border-right {
        border-right: 0;
        border-bottom: 1px solid white;
        margin-bottom: 3rem !important;
    }
}